* {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
}

.NavBar {
	display: flex;
	justify-content: space-between;
	height: 50px;
}

.NavBar-BG {
	background-color: #06b97a;
}

.nav-text {
	color: white;
}

.nav-text:hover {
	color: #ffd966;
}

.not-found {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 7% 0%;
}

.login-register {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	padding-bottom: 5%;
}

.card-login {
	padding: 20px;
}

.tab-login {
	width: 350px;
}

.BTN-login-register {
	background-color: #eeeeee;
	border-width: 2px;
	border-color: #06b97a;
	border-style: solid;
	color: #06b97a;
	padding: 10px;
	border-radius: 8px;
	font-weight: bold;
	width: 100%;
}

.BTN-login-register:hover {
	background-color: #06b97a;
	border-width: 2px;
	border-color: #06b97a;
	border-style: solid;
	color: #eeeeee;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link {
	color: #bcbcbc;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link:hover {
	color: #424242;
}

.home-content {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 20px;
}

.no-product-list {
	padding: 25% 0%;
}

.yes-product-list {
	padding: 5% 0%;
}

.card-list {
	margin-bottom: 20px;
}

.Title-Name {
	color: #424242;
	font-size: 30px;
	font-weight: bolder;
	text-align: center;
}

.card-image {
	height: 200px;
	object-fit: contain;
}

.card-price {
	color: #06b97a;
	font-size: 30px;
	font-weight: bolder;
}

.add-to-cart-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	background-color: #06b97a;
	border-width: 2px;
	border-color: #06b97a;
	border-style: solid;
	height: 50px;
	border-radius: 5px;
	cursor: pointer;
}

.add-to-cart-btn:hover {
	color: #06b97a;
	background-color: #eeeeee;
}

.no-product {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	padding: 25% 0%;
}

.yes-product {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	padding: 5% 0%;
	width: 100%;
}

.width-100 {
	width: 100%;
}

.add-btn {
	display: flex;
	justify-content: end;
}

.BTN {
	background-color: #06b97a;
	border-width: 2px;
	border-color: #06b97a;
	border-style: solid;
	color: white;
	padding: 10px;
	border-radius: 8px;
	font-weight: bold;
}

.BTN:hover {
	background-color: #eeeeee;
	border-width: 2px;
	border-color: #06b97a;
	border-style: solid;
	color: #06b97a;
}

.store-image {
	height: 100px;
	object-fit: contain;
}

.action-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.edit-btn {
	background-color: #ffd966;
	color: white;
	padding: 5px 10px;
	border-radius: 5px;
	cursor: pointer;
}

.delete-btn {
	background-color: #db3030;
	color: white;
	padding: 5px 10px;
	border-radius: 5px;
	cursor: pointer;
}

.modal-container {
	padding-left: 20px;
	padding-right: 20px;
}
